.landing-page img{
    width:100% !important;
    height:100% !important;
}
.landing-page{
    margin-top:410px;
    padding:100px;
}
.landing-page .row{
    margin-bottom:40px;
}
.landing-page .grid{
    /* padding:100px !important; */
}
.landing-page .column h2{
    padding-bottom:30px;
    font-family: 'Fahkwang', sans-serif !important;
    color:#992FCE;
}
.landing-page .article{
    font-family: 'Lato',sans-serif;
    font-size:15px;
    font-weight:normal;
    color:#727272;
}

/* Scrolled */
.landing-page.scrolled{
    margin-top:200px !important;
}